<div class="container about-container">
  <div class="about-grid">
    <div class="image-column">
      <div class="placeholder-image">
        <span>Author Image</span>
      </div>
    </div>
    
    <div class="content-column">
      <h1>About the Author</h1>
      <p class="intro">
        mini intro of myself
      </p>
      
      <div class="bio">
        <p>
          Insert text
        </p>
        <p>
          Insert text
        </p>
      </div>

      <div class="connect">
        <h3>Connect</h3>
        <div class="social-icons">
          <!-- Social placeholders -->
          <a href="#" class="social-link">Twitter</a>
          <a href="#" class="social-link">Instagram</a>
          <a href="#" class="social-link">Goodreads</a>
        </div>
      </div>
    </div>
  </div>
</div>
